/* ===========================================================
 *
 *  Name:          selectordie.css
 *  Updated:       2014-04-27
 *  Created by:    Per V @ Vst.mn
 *  What?:         Base CSS for Select or Die
 *
 *  Copyright (c) 2014 Per Vestman
 *  Dual licensed under the MIT and GPL licenses.
 *
 *  No, I don't usually comment my CSS, but in this
 *  case it might "help" someone.
 *
 *  Beards, Rock & Loud Guns | Cogs 'n Kegs
 * =========================================================== */

/* Remove, change to fit your needs */
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

.sod_select,
.sod_select *
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
    }

/* The SoD - Please keep this first three lines intact, otherwise all hell will break looooooose */
.sod_select
    {
        width: 100%;
        display: inline-block;
        position: relative;
        outline-offset: -2px; /* Opera */
        cursor: pointer;
        outline: none;
        border-radius: 5px;
        border: 1px solid #1D1D1D;
        border-bottom-color: #4B4B4B;
        font-family: 'Roboto Light';
        font-size: 15px;
        color: #767676;
        padding-left: 15px;
        padding-right: 15px;
        height: 42px;
        background: #292929;
        box-shadow: inset 1px 1px 5px #1D1D1D;
        margin-top: 8px;
    }


        /* Down arrow */
        .sod_select:after   {
                content: '';
                width: 14px;
                height: 7px;
                background: url(../img/arrows/arrow_down.svg);
                background-size: 14px 7px;
                position: absolute;
                right: 13px;
                top: 17px;
            }
            .sod_select.above:after { content: "\25B2"; }
            }*/

    /* Change the border color on hover, focus and when open */
    .sod_select:hover,
    .sod_select.open,
    .sod_select.focus { border-color: #000000; }

        .sod_select.open { color: #919191; }

    /* When the entire SoD is disabled, go crazy! */
    .sod_select.disabled
        {
            border-color: #828282;
            color: #b2b2b2;
            cursor: not-allowed;
        }

    /* The "label", or whatever we should call it. Keep the first three lines for truncating. */
    .sod_select .sod_label
        {
            color: #767676;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 42px;
            height: 42px;
            width: 100%;
        }

        .sod_select .sod_prefix { /* Use this if you're using a prefix and want to style it */ }
        .sod_select .sod_placeholder {
            color: #767676;
        }
        .sod_select .sod_placeholder {
           line-height: 42px;
        }


    /* Options list wrapper */
    .sod_select .sod_list
        {
            position: absolute;
            top: 42px;
            display: none;
            z-index: 1;
            outline: none;
            border-radius: 5px;
            border: 1px solid #1D1D1D;
            border-bottom-color: #4B4B4B;
            font-family: 'Roboto Light';
            font-size: 15px;
            color: #767676;
            padding: 5px 15px;
            background: #292929;
            box-shadow: inset 1px 1px 5px #1D1D1D;
            left: 0;
            z-index: 1000;
        }
        .sod_select .sod_list {
            width: 100%;
        }
        /* Shows the option list (don't edit) */
        .sod_select.open .sod_list { display: block;  }

        /* Don't display the options when  */
        .sod_select.disabled.open .sod_list { display: none;  }

        /* When the option list is displayed above the SoD */
        .sod_select.above .sod_list
            {
                top: auto;
                bottom: 100%;
                border-bottom: none;
            }

    /* Options list container */
    .sod_select .sod_list ul
        {
            overflow-y: auto;
            padding: 0;
            margin: 0;
        }

        /* All the options. Keep the first three lines for truncating... */
        .sod_select .sod_list li
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-radius: 5px;
                position: relative;
                list-style-type: none;
                padding: 0;
                line-height: 22px;
            }

            /* Optgroups */
            .sod_select .sod_list .optgroup,
            .sod_select .sod_list .optgroup.disabled
                {
                    background: inherit;
                    color: #858585;
                    font-size: 10px;
                    font-style: italic;
                }

                /* Children of an optgroup */
                .sod_select .sod_list .groupchild { padding-left: 20px; }

            /* Disabled option */
            .sod_select .sod_list .disabled
                {
                    background: 292929;
                    color: #cccccc;
                }

            /* Hover state for options, also used when a user uses his/hers up/down keys */
            .sod_select .sod_list .active
                {                }

            /*Make room for the check mark */
            .sod_select .sod_list .selected
                {

                }


                /* Add a .no_highlight class to you SoD to hide the check mark and don't bold the option */
                .sod_select.no_highlight .sod_list .selected { font-weight: 300; }
                .sod_select.no_highlight .sod_list .selected:before { display: none; }

            .sod_select .sod_list .link { /* If data-link is set on a specific option */ }
            .sod_select .sod_list .linkexternal { /* If data-link-external is set on a specific option */ }



    /* Hide native select */
    .sod_select select { display: none !important; }

        /* The native select in touch mode. Keep this first line. Sorry, keep everything. */
        .sod_select.touch select
            {
                -webkit-appearance: menulist-button;

                position: absolute;
                top: 0;
                left: 0;
                display: block !important;
                height: 100%;
                width: 100%;
                opacity: 0;
                z-index: 1;
            }