* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto Regular';
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
    list-style: none;
}
h2 {
    color: #2f2f2e;
    font-size: 12px;
    font-family: 'Roboto Medium';
}
button {
    cursor: pointer;
    outline: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.wrap {
    margin: auto;
    width: 100%;
}
.dark_wrap {
    background: #323232;
}
.icon_mdl {
    width: 35px;
    height: 35px;
    line-height: 31px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    position: relative;
}
.icon_mdl img {
    vertical-align: middle;
}
input[type="text"],
input[type="password"],
textarea {
    outline: none;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #D3D3D3;
    font-family: 'Roboto Light';
    font-size: 15px;
    color: #858585;
    padding: 0 12px;
}
textarea {
    resize: none;
    height: 150px;
    padding: 12px;
}
.btn,
a.btn {
    font-family: 'Roboto BoldCondensed';
    line-height: 52px;
    display: inline-block;
    font-size: 18px;
    color: #858585;
    text-decoration: none;
    background: #fff;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
}
.btn_blue,
a.btn_blue {
    color: #fff;
    background: #348aee;
    border: none;
}
.btn_gray,
a.btn_gray {
    background: #323232;
    border: none;
    color: #fff;
}
.btn_green,
a.btn_green {
    background: #8bda00;
    border: none;
    color: #fff;
}

/* Index page
------------------------------------------------------------------------------------ */
.header_container {
    background: #000;
    padding: 5px 0;
}
.header_container .sports,
.header_container .step_name {
    height: 60px;
    background: url(../img/sports_bg.jpg);
    clear: both;
    text-align: center;
}
.header_container .step_name img {
    width: 15px;
    height: 23px;
    position: absolute;
    left: 15px;
    top: 18px;
}
.header_container .step_name {
    text-transform: uppercase;
}
.header_container .step_name a {
    text-decoration: none;
    height: 60px;
    width: 100%;
    display: table;
}
.header_container .step_name a p {
    font-family: 'Roboto Bold';
    font-size: 18px;
    color: #d4d4d4;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding-left: 40px;
}
.header_container .sports a {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-left: 7px;
    margin-top: 13px;
}
.header_container .sports .icon_mdl img {
    width: 23px;
    height: 23px;
}
.header_container .sports a:first-child {
    margin-left: 0px;
}
header {
    background: #323232;
    border-top: 1px solid #686868;
    border-bottom: 1px solid #686868;
    height: 60px;
    padding: 0 3px;
    position: relative;
    text-align: center;
}
header .enter,
header .coupon,
header .money {
    float: left;
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
}
header .money {
    margin-left: 14px;
}
header .menu {
    float: left;
}
header .menu .show_menu {
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    cursor: pointer;
}
.header_btns {
    float: right;
}
header .menu p,
.languages p,
header .enter p,
header .money p,
header .coupon p,
header .games_btn p {
    text-align: center;
    color: #bcbcbc;
    font-size: 9px;
    margin-top: 5px;
}
header .menu .icon_mdl img {
    width: 15px;
    height: 10px;
}
.languages .icon_mdl img {
    width: 20px;
    height: 20px;
}
header .money .icon_mdl img {
    width: 12px;
    height: 15px;
}
.languages p img {
    width: 7px;
    height: 6px;
}
header .enter .icon_mdl img {
    width: 21px;
    height: 21px;
}
header .coupon .icon_mdl img {
    width: 18px;
    height: 20px;
}
header .enter {
    margin-left: 14px;
}
header .coupon {
    margin-left: 20px;
}
.coupon .coupons_number {
    color: #fff;
    font-size: 12px;
    background: #4C83EF;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 10px;
    padding: 1px 3px;
    border-radius: 2px;
}
header .logo {
    margin-top: 12px;
    display: inline-block;
}
header .logo img {
    width: 90px;
    height: 23px;
}
header a {
    text-decoration: none;
}
.languages {
    float: left;
}
.languages .click_block,
.games_btn {
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    height: 60px;
    display: block;
}
.games_btn {
    float: left;
}
 .games_btn img {
    width: 25px;
    height: 18px;
 }
.languages .click_block.active {
    background: #242423;
}
.languages .hidden_flags {
    position: absolute;
    top: 60px;
    height: 60px;
    width: 100%;
    left: 0;
    background: #242423;
    display: none;
    z-index: 100;
    text-align: right;
}
.languages .hidden_flags .flag {
    margin-left: 18px;
    margin-top: 11px;
    display: inline-block;
}
.languages .hidden_flags a.flag:first-child {
    margin-left: 0px;
}
.languages .hidden_flags a.flag:last-child {
    margin-right: 0px;
}

/* Hidden menu */
header .hidden_menu {
    width: 265px;
    position: absolute;
    top: 0;
    left: 0;
    background: #323232;
    z-index: 150;
    text-align: left;
}
header .hidden_menu .top {
    padding-top: 5px;
    padding-left: 7px;
    padding-bottom: 6px;
}
header .hidden_menu .top .icon_mdl {
    cursor: pointer;
    float: left;
}
header .hidden_menu .top .search {
    float: left;
    height: 35px;
    margin-left: 5px;
    width: 215px;
    padding-right: 27px;
    background:  url(../img/icons/search.svg) right no-repeat, #fff;
    background-size: 26px 16px;
}
header .hidden_menu .nav {
    border-right: 1px solid #323232;
}
header .hidden_menu .nav .opens_popup {
    line-height: 30px;
    border-bottom: 1px solid #353534;
    padding-left: 11px;
    font-size: 15px;
    font-family: 'Roboto Regular';
    color: #d4d4d4;
    background: #3C3C3B;
    cursor: pointer;
}
header .hidden_menu .nav .opens_popup:after {
    content: '';
    width: 16px;
    height: 13px;
    overflow: hidden;
    background: url(../img/arrows/menu_arrow.svg) no-repeat;
    background-size: 8px 13px;
    float: right;
    margin-top: 7px;
    margin-right: 2px;
}
header .hidden_menu .nav .opens_popup.change {
    color: white;
}
header .hidden_menu .nav .opens_popup.change:after,
header .hidden_menu .nav .opens_popup.change.open:after {
    content: '';
    background: url(../img/arrows/menu_arrow_click.svg) no-repeat;
    background-size: 13px 8px;
    margin-right: 5px;
    margin-top: 10px;
}
header .hidden_menu .opens_popup_second {
    line-height: 30px;
    background: #4E4E4E;
    border-bottom: 1px solid #454545;
    font-size: 14px;
    color: #d4d4d4;
    font-family: 'Roboto Light';
    padding-left: 10px;
    position: relative;
    cursor: pointer;
}
header .hidden_menu .nav .opens_popup_second:after {
    content: '';
    width: 7px;
    height: 7px;
    overflow: hidden;
    background: url(../img/arrows/menu_arrow.svg) no-repeat;
    background-size: 5px 7px;
    float: right;
    margin-top: 11px;
    margin-right: 8px;
}
header .hidden_menu .nav .opens_popup_second.acc_balance:after {
    content: '';
    width: 12px;
    height: 24px;
    overflow: hidden;
    background: url(../img/icons/refresh.svg) no-repeat;
    background-size: 12px 14px;
    float: right;
    margin-top: 7px;
    margin-right: 6px;
}
header .hidden_menu .opens_popup_second span {
    position: absolute;
    line-height: 30px;
    left: 29px;
}
.header_container header span.acc_balance {
    color: #8bda00;
    position: static;
}
header .hidden_menu .opens_popup_second img {
    vertical-align: middle;
    width: 13px;
    height: 13px;
}
header .hidden_menu .opens_popup_second img.box_image {
    width: 16px;
}

/* Slider */

#slider,
#slider2,
#slider3 {
    height: 136px;
    width: 100%;
}
div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden;
}
div.orbit img {
    position: absolute;
    top: 0;
    left: 0;
    height: 136px;
    width: 100%;
}
div.orbit a img {
    border: none;
}
div.caption {
    background: rgba(0,0,0,.6);
    width: 100%;
    z-index: 100;
    position: absolute;
    bottom:-100px;
    color: #fff;
    padding: 5px 6px 0 13px;
    height: 40px;
}
div.caption span {
    font-size: 7px;
}
div.caption span h2,
div.caption span h3 {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}
div.caption span h2 {
    font-family: 'Roboto BoldCondensedItalic';
}
div.caption span h3 {
    font-family: 'Roboto BoldCondensed';
    line-height: 30px;
    display: inline-block;
}
div.caption span p {
    font-size: 6px;
    color: white;
}
div.caption span a.more {
    float: right;
    height: 23px;
    line-height: 23px;
    background: #8bda00;
    padding: 0 11px;
    margin-top: 5px;
    font-family: 'Roboto BoldCondensed';
    font-size: 9px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
}
.orbit-caption {
    display: none;
}

/* Game previes */
.game_preview {
    height: 136px;
    width: 100%;
    position: relative;
    margin-bottom: 2px;
}
.game_preview img {
    width: inherit;
    height: inherit;
}
.game_preview .game_caption {
    background: rgba(0,0,0,.6);
    width: 100%;
    z-index: 100;
    position: absolute;
    bottom: 0px;
    color: #fff;
    padding: 5px 6px 0 13px;
    height: 40px;
}
.game_preview .game_caption h2,
.game_preview .game_caption h3 {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}
.game_preview .game_caption h2 {
    font-family: 'Roboto BoldCondensedItalic';
}
.game_preview .game_caption h3 {
    font-family: 'Roboto BoldCondensed';
    line-height: 30px;
    display: inline-block;
}
.game_preview .game_caption p {
    font-size: 6px;
    color: white;
}
.game_preview .game_caption a.more,
.game_preview .game_caption a.demo {
    float: right;
    height: 23px;
    line-height: 23px;
    background: #8bda00;
    padding: 0 11px;
    margin-top: 5px;
    font-family: 'Roboto BoldCondensed';
    font-size: 9px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    width: 71px;
    text-align: center;
}
.game_preview .game_caption a.demo {
    background: #ff5803;
    margin-left: 4px;
}
.game_preview .game_alert {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 75px;
    background: url(../img/alert_bg.png) no-repeat;
    background-size: 90px 75px;
}
.game_preview .game_alert p {
    font-family: 'Roboto BoldCondensed';
    font-size: 9px;
    color: white;
    text-transform: uppercase;
    margin-top: 15px;
    padding-left: 5px;
    webkit-transform: rotate(319deg);
    -moz-transform: rotate(319deg);
    -o-transform: rotate(319deg);
    transform: rotate(319deg);
}
/* Tabs */

.tabs_section {
    background: #E7E7E7;
    padding-bottom: 10px;
    border-top: 1px solid white;
}
.section_low {
    background: #F5F5F5;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    border-radius: 3px 3px 0 0;
}
.tabs_p {
    padding: 0 5px;
}
.tabs li.current {
    color: #444;
    background: #fff;
}
.tabs_low li.current:first-child {
    background: #EF5911;
    color: #fff;
}
.tabs_low li.current:last-child {
    background: #4C83EF;
    color: #fff;
}
.tabs li.current:after {
    content: '';
    border: 8px solid transparent;
    border-bottom-color: #E7E7E7;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -8px;
}
.tabs li .icon_mdl {
    float: left;
    height: 25px;
    width: 25px;
    line-height: 20px;
    border-color: #bcbcbc;
    margin: 11px 5px 0 7px;
}
.tabs li .icon_mdl img {
    margin: 0;
    vertical-align: middle;
}
.tabs li:first-child .icon_mdl img {
    width: 11px;
    height: 10px;
    margin-left: 5px;
}
.tabs li:last-child .icon_mdl img {
    width: 9px;
    height: 16px;
}
.tab_info,
.box {
    display: none;
}
ul.tabs {
    padding-top: 1px;
}
ul.tabs_low {
    border: 1px solid #888888;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
}
.tabs li {
    float: left;
    font-family: 'Roboto Bold';
    display: inline;
    color: #d4d4d4;
    cursor: pointer;
    font-size: 18px;
    background: #323232;
    position: relative;
    line-height: 47px;
    width: 50%;
    height: 47px;
    text-transform: uppercase;
}
.tabs_low li {
    text-align: center;
    cursor: pointer;
    float: left;
    width: 50%;
    line-height: 32px;
    font-family: 'Roboto Regular';
    font-size: 15px;
    color: #2f2f2e;
}
.tabs li img {
    vertical-align: middle;
    margin-right: 9px;
    margin-left: 11px;
    margin-top: -3px;
    width: 25px;
    height: 25px;
}
.tabs li:first-child img {
    margin-left: 7px;
    margin-right: 5px;
}
.tab_info.visible,
.box.visible {
    display: block;
}
.rates_container {
    margin-top: 4px;
}
.rates_wrap {
    padding-top: 6px;
    background: #F5F5F5;
}
.rates_wrap h2 {
    padding-left: 8px;
    margin-bottom: 4px;
}
.rates_wrap .rate {
    border-top: 1px solid #E4E4E4;
    background: #fff;
    padding-top: 5px;
    padding-left: 9px;
    height: 52px;
}
.rates_wrap div.rate:last-child {
    border-bottom: 1px solid #E4E4E4;
}
.rates_wrap .rate .info {
    float: left;
}
.rates_wrap .rate .info .name {
    color: #2f2f2e;
    font-size: 9px;
    margin-bottom: 4px;
}
.rates_wrap .rate .info .score {
    color: #fe6c00;
    font-size: 9px;
}
.rates_wrap .rate .info .minutes,
.rates_wrap .rate .info .time {
    font-size: 9px;
    color: #99a3b1;
    margin-left: 6px;
}
.rates_wrap .rate .info .start {
    font-size: 9px;
    color: #99a3b1;
}
.rates_wrap .rate .info .start img {
    margin-right: 4px;
    width: 7px;
    height: 7px;
}
.coefficients {
    float: right;
    margin-right: 4px;
}
.coefficient {
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border-radius: 3px;
    background: -webkit-linear-gradient(top,#4FA2EF, #2B56CE);
    background: -moz-linear-gradient(top,#4FA2EF, #2B56CE);
    background: -ms-linear-gradient(top,#4FA2EF, #2B56CE);
    background: -o-linear-gradient(top,#4FA2EF, #2B56CE);
    background: -linear-gradient(top,#4FA2EF, #2B56CE);
    display: inline-block;
    margin-left: 1px;
    margin-top: 2px;
}
.large_coefficient {
    width: 98px;
    height: 68px;
    line-height: 9px;
    padding-top: 12px;
    margin: 0 1px 4px;
}
.large_coefficient p.name {
    font-family: 'Roboto BoldCondensed';
    font-size: 7px;
    color: white;
    text-transform: uppercase;
    height: 16px;
}
.large_coefficient p.coeff {
    font-size: 24px;
    margin-top: 15px;
}
.small_coefficient {
    height: 24px;
    width: 48px;
    line-height: 24px;
    margin: 0;
    border-radius: 6px;
}

/* Games */

.games_container {
    background: #2f2f2e;
    position: relative;
    border-bottom: 6px solid black;
}
.games_container .title {
    padding: 5px 8px;
    border-bottom: 1px solid white;
}
.games_container .title .icon_mdl {
    float: left;
    width: 35px;
    margin-right: 4px;
}
.games_container .title .icon_mdl img {
    width: 25px;
    height: 18px;
}
.games_container .title h1 {
    font-family: 'Roboto Bold';
    font-size: 18px;
    line-height: 35px;
    color: #d4d4d4;
    text-transform: uppercase;
}

/* Form page's
------------------------------------------------------------------------------------ */
.form {
    padding: 0 5px;
    margin-bottom: 12px;
}
.form input[type="text"],
.form input[type="password"] {
    height: 42px;
    background: #FAFAFA;
    box-shadow: inset 1px 1px 8px #D3D3D3;
    margin-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
}
.form textarea {
    margin-top: 8px;
}
.form #dark_inp,
.form #dark_texta {
    background: #292929;
    color: #fff;
    border: 1px solid #1D1D1D;
    border-bottom-color: #4B4B4B;
    box-shadow: inset 1px 1px 5px #1D1D1D;
}
.form .forget_pass {
    color: #2f2f2e;
    font-size: 15px;
    display:  inline-block;
    margin-top: 9px;
    margin-left: 13px;
    margin-bottom: 5px;
    text-decoration: none;
    line-height: 15px;
    border-bottom: 1px solid #464645;
    box-shadow: inset 0 -1px #919190;

}
.reminder {
    font-size: 15px;
    color: #2f2f2e;
    padding: 0 12px 0 0;
    line-height: 16px;
    margin-top: 9px;
    margin-left: 4px;
}
.reminder_marg {
    margin-top: 30px;
}
.widthdrawl .reminder {
    font-size: 12px;
}
.reminder p.enrollment {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}
.reminder p.enrollment span {
    color: #8bda00;
    float: right;
}
p.form_caption {
    font-size: 9px;
    line-height: 10px;
    color: #f5eeb2;
}
.form .payment_type {

}
.form .payment_type p {
    float: left;
    line-height: 52px;
    margin-right: 8px;
}
.form .payment_type .payment {
    width: 90px;
    float: left;
}
.dark_reminder {
    color: #d4d4d4;
    padding-left: 0;
}
.reminder_label {
    margin-top: 15px;
}
.form .btns {
    margin-top: 12px;
}
.form .enter_btn,
.form .back_btn {
    width: 141px;
    float: left;
    position: relative;
    cursor: pointer;
}
.form .back_btn:before {
    content: '';
    background: url(../img/arrows/back_dark_arrow.svg) no-repeat;
    background-size: 15px 23px;
    position: absolute;
    width: 15px;
    height: 23px;
    left: 14px;
    top: 13px;
}
.form .reg_btn,
.form .continue_btn {
    width: 156px;
    float: right;
    cursor: pointer;
}
.form .home_btn {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form .btn_blue,
.form .btn_green {
    width: 100%;
    margin-top: 10px;
}
.questions_box {
    height: 50px;
}
.day_box,
.month_box {
    float: left;
    height: 50px;
}
.year_box {
    float: right;
    height: 50px;
}
.day_box {
    width: 28.8%;
}
.year_box,
.month_box {
    width: 35%;
}
.month_box {
    position: relative;
    left: 0.7%;
}
.form .rule_wrap {
    margin-top: 6px;
}
.form .rule_wrap h3 {
    height: 42px;
    background: #525252;
    font-size: 18px;
    color: #d4d4d4;
    font-family: 'Roboto Bold';
    text-transform: uppercase;
    line-height: 42px;
    padding-left: 15px;
}
.form .rule_wrap .rule_container {
    color: #2f2f2e;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid #D2D2D2;
    background: #fff;
    padding: 10px 0 10px 11px;
    height: 122px;
}
.form .rule_wrap .rule {
    position: relative;
    height: 102px;
    outline: none;
}
.form .rule_wrap .rule_scroll {
    line-height: 15px;
    padding-right: 10px;
}
.form .agree_btn {
    width: 100%;
    background: #EF5911;
    border: none;
    height: 68px;
    border-radius: 3px;
    font-family: 'Roboto BoldCondensed';
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 7px;
}
.form .green_btn {
    width: 100%;
    background: #97DC00;
    border: none;
    height: 68px;
    border-radius: 3px;
    font-family: 'Roboto BoldCondensed';
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 6px;
}
/* Failed messages */

.failed_messages {
    font-size: 15px;
    color: #2f2f2e;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    background: #FFFFDC;
    border: 1px dashed #585956;
    min-height: 31px;
    display: table;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 100%;
}
.failed_messages img {
    float: left;
    width: 42px;
    height: 37px;
}
.failed_messages p {
    display: table-cell;
    vertical-align: middle;
    line-height: 18px;
    width: 100%;
    padding-left: 15px;
}

/* Coupone page
------------------------------------------------------------------------------------ */
.main_tab_container {
    width: 100%;
    margin: auto;
    padding: 5px 5px 10px;
}
.coupone_container table.designation {
    background: #f6f6f6;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 25px;
    padding-left: 14px;
}
.coupone_container table.designation tr td {
    font-family: 'Roboto Medium';
    font-size: 9px;
    color: #2f2f2e;
}
.coupone_container .rate {
    width: 100%;
}
.coupone_container .rate .rate_name {
    width: inherit;
    background: white;
    height: 38px;
    font-family: 'Roboto Medium';
    font-size: 12px;
    color: #2f2f2e;
    line-height: 38px;
    text-align: center;
    border: 1px solid #ececec;
}
.coupone_container .rate table.rate_info {
    width: 100%;
    background: #d9fa74;
    padding: 5px 0px 5px 12px;
    position: relative;
    border-bottom: 1px solid #adadad;
    margin-bottom: 4px;
}
.coupone_container .rate table.rate_info tr td h5 {
    font-family: 'Roboto Bold';
    font-size: 15px;
    color: #2f2f2e;
}
.coupone_container .rate table.rate_info tr td p {
    font-family: 'Roboto Regular';
    font-size: 12px;
    color: #2f2f2e;
}
.coupone_container .rate table.rate_info tr td a.close {
    width: 20px;
    height: 20px;
    background: url(../img/icons/close.svg) no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 2px;
    right: 2px;
}
.coupone_container .rate table.rate_info tr td:first-child,
.coupone_container table.designation tr td:first-child {
    width: 40%;
}
.coupone_container .rate table.rate_info tr td:nth-child(2),
.coupone_container table.designation tr td:nth-child(2) {
    width: 15%;
}
.coupone_container .rate table.rate_info tr td:nth-child(3),
.coupone_container table.designation tr td:nth-child(3) {
    width: 17%;
}
.coupone_container .rate table.rate_info tr td:last-child,
.coupone_container table.designation tr td:last-child {
    width: 28%;
}

#number {
    width: 48px;
    height: 63px;
    background: #f4f4f4;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 2px;
}
#number input {
    width: 100%;
    height: 21px;
    outline: none;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    color: #2f2f2e;
    border-radius: 0px;
    border: none;
    background: none;
    border-top: 1px solid #e2e3e2;
    border-bottom: 1px solid #e2e3e2;
    padding: 0 5px;
}
#number span.minus,
#number span.plus {
    width: 100%;
    background: white;
    display: block;
    cursor: pointer;
    vertical-align: middle;
    line-height: 20px;
    height: 20px;
}
#number span.minus {
    border-radius: 0 0 2px 2px;
    height: 19px;
}
#number span.plus {
    border-radius: 2px 2px 0 0;
}
#number span.minus img,
#number span.plus img {
    width: 9px;
    height: 9px;
}

.coupone_container .cancel_rate {
    width: 100%;
    height: 54px;
    background: #2f2f2e;
    border-bottom: 1px solid #adadad;
    padding: 0 4px 0 12px;
    margin-top: 10px;
}
.coupone_container .cancel_rate p {
    font-family: 'Roboto Bold';
    font-size: 15px;
    color: #bcbcbc;
    line-height: 54px;
    display: inline-block;
}
.coupone_container .cancel_rate p span {
    color: white;
    margin-left: 18px;
}
.coupone_container .cancel_rate a.cancel {
    float: right;
    height: 22px;
    line-height: 22px;
    background: #8c8c8c;
    font-family: 'Roboto BoldCondensed';
    font-size: 9px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 6px;
    margin-top: 15px;
    border-radius: 3px;
}

.coupone_express_container .rate table.rate_info {
    background: #cbedfc;
}
.coupone_express_container table.designation tr td:first-child,
.coupone_express_container .rate table.rate_info tr td:first-child {
    width: 70%;
}
.coupone_express_container .cancel_rate {
    background: none;
    border: none;
    height: 22px;
    margin: 8px 0;
}
.coupone_express_container .cancel_rate a.cancel {
    margin: 0;
}
.coupone_express_container table.total_coefficient {
    width: 100%;
}
.coupone_express_container table.total_coefficient tr {
    padding: 5px 0px 5px 12px;
}

.coupone_express_container table.total_coefficient thead {
    background: #348aee;
    height: 38px;
}
.coupone_express_container table.total_coefficient thead tr td {
    font-family: 'Roboto Bold';
    font-size: 15px;
    color: white;
    border-bottom: 1px solid #adadad;
    padding: 8px 0;
}
.coupone_express_container table.total_coefficient thead tr td p.summ {
    text-align: left;
    margin-right: 10px;
}
.coupone_express_container table.total_coefficient tbody {
    background: white;
}
.coupone_express_container table.total_coefficient tbody tr td {
    padding: 5px 0;
}
.coupone_express_container table.total_coefficient tbody tr td #number {
    float: left;
    margin-right: 15px;
}
.coupone_express_container table.total_coefficient tbody tr td p {
    font-size: 15px;
    color: #2f2f2e;
    text-transform: uppercase;
}
.coupone_express_container table.total_coefficient tbody tr td:last-child p {
    float: left;
    line-height: 60px;
}
.coupone_express_container table.total_coefficient tr td:first-child {
    width: 72%;
    padding-left: 12px;
}
.coupone_express_container table.total_coefficient tr td:last-child {

}

.no_pb {
    padding-bottom: 0;
}
.rate_done_container {
    padding: 5px;
    background: white;
}
.rate_done_container .failed_messages {
    margin: 0;
}
.rate_done_container .btn {
    display: block;
    margin: 15px auto;
    width: 192px;
}

/* Match, Inlive page's
------------------------------------------------------------------------------------ */
.versus_top p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Bold';
    font-size: 18px;
    color: white;
    line-height: 30px;
}
.versus_top .versus_img {
    width: 100%;
    height: 65px;
}
.versus_top .versus_img img {
    width: inherit;
    height: inherit;
}
.versus_top .versus_sport {
    height: 28px;
    background: #494949;
}
.versus_top .versus_date {
    height: 30px;
    background: #202020;
}
.versus_bot .versus_main {
    padding: 9px 18px;
    width: 100%;
    border-bottom: 1px solid #ececec;
}
.versus_bot .versus_main .team_container {
    width: 100%;
    display: table;
    position: relative;
}
.versus_bot .versus_main h1,
.versus_bot .versus_main p {
    font-family: 'Roboto BoldCondensed';
    text-transform: uppercase;
}
.versus_bot .versus_main h1 {
    width: 140px;
    text-align: center;
    font-size: 39px;
    color: #8bda00;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    left: 50%;
    margin-left: -70px;
}
.versus_bot .versus_main p {
    font-size: 15px;
    color: #2f2f2e;
    display: table-cell;
    width: 92px;
    text-align: center;
    vertical-align: middle;
}
.versus_bot .versus_main table.tennis_stat {
    width: 100%;
    margin-top: 5px;
    background: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 17px 10px;
}
.versus_bot .versus_main table.tennis_stat tr td {
    font-size: 9px;
    color: #2f2f2e;
    border-bottom: 1px dashed #bcbcbc;
    padding: 6px 0;
}
.versus_bot .versus_main table.tennis_stat thead tr td {
    font-family: 'Roboto Bold';
}
.versus_bot .versus_stat_fav {
    padding: 10px 6px;
}
.versus_bot .versus_stat_fav a {
    font-family: 'Roboto Bold';
    font-size: 12px;
    color: #bcbcbc;
    text-transform: uppercase;
    text-decoration: none;
}
.versus_bot .versus_stat_fav a:hover {
    color: #1380dd;
}
.versus_bot .versus_stat_fav a:before {
    content: '';
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
}
.versus_bot .versus_stat_fav a.stat {
    float: left;
    margin-top: 6px;
}
.versus_bot .versus_stat_fav a.stat:before {
    background: url(../img/icons/stat.svg) no-repeat center;
    background-size: 14px 17px;
    margin-top: -6px;
}
.versus_bot .versus_stat_fav a.stat:hover:before,
.versus_bot .versus_stat_fav a.stat.active:before {
    background: url(../img/icons/stat_hover.svg) no-repeat center;
    background-size: 14px 17px;
    border-color: #1380dd;
}
.versus_bot .versus_stat_fav a.fav {
    width: 150px;
    float: right;
}
.versus_bot .versus_stat_fav a.fav:before {
    background: url(../img/icons/fav.svg) no-repeat center;
    background-size: 20px 19px;
}
.versus_bot .versus_stat_fav a.fav:hover:before,
.versus_bot .versus_stat_fav a.fav.active:before {
    background: url(../img/icons/fav_hover.svg) no-repeat center;
    background-size: 20px 19px;
    border-color: #1380dd;
}
.versus_bot .versus_stat_fav a.stat.active,
.versus_bot .versus_stat_fav a.fav.active {
    color: #1380dd;
}
.versus_bot .versus_stat_fav a.fav.active  {
    line-height: 25px;
}

.match_container p.title {
    background: #f6f6f6;
    padding: 7px 14px;
    margin-bottom: 3px;
    font-family: 'Roboto Medium';
    font-size: 9px;
    color: #2f2f2e;
    border: 1px solid #e5e5e5;
}
.match_container .match_games {
    text-align: center;
}
.match_container .match_score {
    background: white;
    margin-bottom: 2px;
}
.match_container .match_score .match {
    height: 25px;
    border-bottom: 1px solid #ececec;
}
.match_container .match_score .match .coefficient {
    float: right;
}
.match_container .match_score .match p {
    float: left;
    font-size: 15px;
    color: #2f2f2e;
    line-height: 24px;
    padding-left: 14px;
}
.match_container .match_score .match .left_score,
.match_container .match_score .match .right_score {
    width: 50%;
}
.match_container .match_score .match .left_score {
    float: left;
}
.match_container .match_score .match .right_score {
    float: right;
}

.inlive_container .match_score .match {
    height: 37px;
}
.inlive_container .match_score .match p {
    line-height: 37px;
}
.inlive_container .match_score .match .coefficient {
    height: 36px;
    line-height: 36px;
    width: 48px;
}
.tennis_container .match_games .large_coefficient {
    width: 148px;
    height: 58px;
}
.tennis_container .match_games .large_coefficient p.name {
    font-size: 12px;
}
.tennis_container .match_games .large_coefficient p.coeff {
    margin-top: 6px;
}

.popup {
    display: none;
    width:100%;
    min-height:100%;
    position:absolute;
    top:0px;
    background: rgba(0,0,0,.5);
    z-index: 1000;
}
.popup .popup-content {
    padding: 15px 6px;
    top: 5%;
    width: 96%;
    left: 2%;
    background: white;
    position: absolute;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}
.popup .popup-content .close {
    position: absolute;
    top: 3px;
    right: 3px;
    border: none;
    background: url(../img/icons/close.svg) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}
.popup .popup-content h2 {
    font-family: 'Roboto BoldCondensed';
    font-size: 12px;
    color: #2f2f2e;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px dashed #e8e8e8;
    padding-bottom: 8px;
}
.popup .popup-content .teams_stat {
    margin-bottom: 8px;
}
.popup .popup-content .teams_stat .left_team {
    width: 49%;
    float: left;
}
.popup .popup-content .teams_stat .right_team {
    width: 49%;
    float: right;
}
.popup .popup-content .teams_stat p.name {
    font-family: 'Roboto BoldCondensed';
    font-size: 15px;
    color: #2f2f2e;
    text-transform: uppercase;
    padding: 8px 10px;
}
.popup .popup-content .teams_stat ul li {
    border-bottom: 1px dashed #e8e8e8;
    padding: 5px 0;
}
.popup .popup-content .teams_stat ul li:first-child {
    border-top: 1px dashed #e8e8e8;
}
.popup .popup-content .teams_stat ul li p {
    font-size: 9px;
    color: #2f2f2e;
    padding-left: 10px;
    padding-right: 15px;
}
.popup .popup-content .teams_stat ul li p span {
    color: #348aee;
    float: right;
}
.popup .popup-content .last_matches ul li {
    border-bottom: 1px dashed #e8e8e8;
    padding: 5px 0;
}
.popup .popup-content .last_matches ul li p {
    text-align: center;
    font-size: 9px;
    color: #2f2f2e;
}
.popup .popup-content .last_matches ul li p span {
    margin: 0 5px;
}

/* Accordion in tab
------------------------------------------------------------------------------------ */
.tab_accordion h2,
.tab_accordion .hidden_list li {
    border-bottom: 1px solid #E4E4E4;
}
.tab_accordion h2 {
    line-height: 25px;
    position: relative;
    padding-left: 27px;
    color: #2f2f2e;
    font-family: 'Roboto Medium';
    cursor: pointer;
}
.tab_accordion h2:before {
    content: '';
    width: 15px;
    height: 14px;
    background: url(../img/arrows/arrow_down.svg);
    background-size: 15px 14px;
    position: absolute;
    left: 7px;
    top: 5px;
}
.tab_accordion .hidden_list li {
    font-size: 9px;
    color: #2f2f2e;
    background: #fff;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
}

/* Help page
------------------------------------------------------------------------------------ */
.search_form {
    padding: 0 5px;
    margin-bottom: 10px;
}
.search_form .reminder {
    padding-left: 0;
}
.search_form .search {
    height: 41px;
    padding-right: 27px;
    background: url(../img/icons/search.svg) right no-repeat, #FAFAFA;
    background-size: 26px 16px;
    box-shadow: inset 1px 1px 8px #D3D3D3;
    margin-top: 12px;
}
.search_accordion {
    margin-top: 7px;
    border-top: 1px solid #E4E4E4;
}
.search_accordion h2,
.search_accordion .hidden_list li {
    border-bottom: 1px solid #E4E4E4;
}
.search_accordion .hidden_list li {
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    font-size: 9px;
    color: #2f2f2e;
    background: #fff;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 25px;
    position: relative;
    min-height: 25px;
    line-height: 20px;
}
.search_accordion .hidden_list li .icon_img {
    position: absolute;
    left: 4px;
    margin-left: 0;
    top: 4px;
}
.search_accordion .hidden_list li img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-left: 8px;
}
.search_accordion h2 {
    font-family: 'Roboto Medium';
    line-height: 25px;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    background: #F5F5F5;
    color: #2f2f2e;
}
.search_accordion h2:before {
    content: '';
    width: 15px;
    height: 14px;
    background: url(../img/arrows/arrow_dark_down.svg) no-repeat;
    background-size: 15px 14px;
    position: absolute;
    left: 7px;
    top: 5px;
}
.search_accordion h2.rotate:before {
    content: '';
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

/* Limits page
------------------------------------------------------------------------------------ */
.restrictions {
    padding-bottom: 12px;
}
.restrictions table {
    margin-top: 5px;
    width: 100%;
    color: #d4d4d4;
    font-size: 12px;
}
.restrictions th {
    height: 41px;
    background: #525252;
    text-align: center;
    border-left: 1px solid #616161;
}
.restrictions th:first-child {
    width: 24.2%;
    border-left: none;
}
.restrictions th:nth-child(2) {
    width: 38.7%;
}
.restrictions td {
    border-bottom: 1px solid #4C4C4B;
    border-left: 1px solid #4C4C4B;
    height: 53px;
}
.restrictions td #dark_inp {
    margin-top: 0px;
}
.restrictions td:first-child {
    padding-left: 5px;
}
.restrictions td:nth-child(2) {
    padding-left: 3px;
}
.restrictions td:last-child {
    border-right: 1px solid #4C4C4B;
    padding-left: 5px;
    padding-right: 5px;
}
.restrictions_btn {
    height: 67px;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto BoldCondensed';
    margin-top: 14px;
}
.restrictions .restrictions_btn {
    margin-bottom: 5px;
}
.reminder_bold {
    font-family: 'Roboto Bold';
}
.restrictions .reminder_bold {
    margin-top: 18px;
}


/* LK page
------------------------------------------------------------------------------------ */
.container {
    padding: 5px 5px 10px;
}
.container ul.lk_list {
    background: #f6f6f6;
}
.dark_wrap .container ul.lk_list {
    background: #4d4d4d;
}
.container ul.lk_list li {
    height: 25px;
    border-top: 1px solid #ececec;
}
.container ul.lk_list li:last-child {
    border-bottom: 1px solid #ececec;
}
.dark_wrap .container ul.lk_list li {
    border-color: #434343;
}
.container ul.lk_list li a {
    display: block;
    height: 24px;
    padding-left: 10px;
    text-decoration: none;
}
.container ul.lk_list li a span {
    margin-left: 13px;
    font-family: 'Roboto Medium';
    font-size: 12px;
    color: #2f2f2e;
}
.dark_wrap .container ul.lk_list li a span {
    color: #d4d4d4;
}
.container ul.lk_list li a span span.acc_balance {
    color: #7cc009;
    margin-left: 55px;
}
.container ul.lk_list li img {
    vertical-align: middle;
    width: 13px;
    height: 13px;
}

/* Top winners page
------------------------------------------------------------------------------------ */
.jackpot_wrap img {
    width: 100%;
    height: 80px;
}

.top_winners {
    width: 100%;
}
.top_winners td {
    width: 50%;
    font-size: 9px;
    font-family: 'Roboto Condensed';
    color: #d4d4d4;
    height: 23px;
    border-bottom: 1px solid #000;
    box-shadow: inset 0 1px #565655;
}
.top_winners tr:first-child td {
    font-size: 9px;
    text-transform: uppercase;
    font-family: 'Roboto BoldCondensed';
    color: #fff;
    height: 23px;
    box-shadow: none;
}
.top_winners tr:nth-child(2) td {
    box-shadow: inset 0 1px #565655, inset 0 2px #323232;
}
.top_winners tr:nth-child(2n) td {
    background: #414140;
}
.top_winners tr:last-child td {
    border-bottom: 1px solid #565655;
    box-shadow: inset 0 1px #565655,inset 0 -1px #000;
}
.top_winners .number {
    margin-right: 10px;
    margin-left: 9px;
}
.top_winners td:nth-child(2) {
    text-align: center;
}

/* 404
------------------------------------------------------------------------------------ */
.container_404 .image {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 12px;
}
.container_404 .image img {
    width: 56px;
    height: 27px;
}
.container_404 h2,
.container_404 p {
    color: #2f2f2e;
    padding: 0 6px;
}
.container_404 h2 {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 15px;
}
.container_404 p {
    font-size: 12px;
}
.container_404 .home_btn {
    width: 100%;
    margin-top: 15px;
}
.container_404 .btn_green {
    width: 100%;
}

/* Search page
------------------------------------------------------------------------------------ */
.search_tabs .tabs li {
    text-align: center;
}
.section_low .text {
    font-size: 9px;
    color: #2f2f2e;
}
.rates_wrap h2 a {
    font-size: 12px;
    font-family: 'Roboto Medium';
    color: #348aee;
    border-bottom: 1px solid #D2DCF4;
    box-shadow: 0 1px #BFCEF3;
    text-decoration: none;
    line-height: 12px;
    display: inline-block;
}


/* Partner2 page
------------------------------------------------------------------------------------ */
.partner_program {
    background: #E7E7E7;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.program_wrap {
    margin-top: 3px;
}
.partner_program .reminder {
    margin-top: 0;
    margin-bottom: 12px;
}
.pluses_partnership .name {
    padding-left: 25px;
    padding-right: 10px;
    background: #F5F5F5;
    padding-top: 3px;
    padding-bottom: 5px;
    position: relative;
}
.pluses_partnership .name img {
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -7px;
    width: 10px;
    height: 14px;
}
.pluses_partnership .name a {
    color: #348aee;
    font-size: 12px;
    font-family: 'Roboto Medium';
    border-bottom: 1px solid;
    text-decoration: none;
    line-height: 12px;
}
.partner_program .description {
    background: #fff;
    padding-left: 25px;
    position: relative;
    padding-top: 10px;
    padding-right: 15px;
    border-top: 1px solid #EBEBEB;
    font-size: 9px;
    color: #2f2f2e;
    padding-bottom: 8px;
}
.partner_program .description img {
    width: 13px;
    height: 13px;
    position: absolute;
    left: 6px;
    top: 10px;
}

/* Express bets page
------------------------------------------------------------------------------------ */
.bets_container .bets {
    background: white;
    padding: 15px 10px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #adadad;
    margin-bottom: 1px;
}
.bets_container .bets ul li {
    border-bottom: 1px dashed #e8e8e8;
    padding: 5px 0;
}
.bets_container .bets ul li:last-child {
    border: none;
}
.bets_container .bets ul li h5 {
    float: left;
    width: 75px;
    padding-left: 2px;
    font-size: 9px;
    color: #2f2f2e;
}
.bets_container .bets ul li p {
    font-size: 9px;
    color: #348aee;
}
.bets_container .bets ul li p.date {
    color: #99a3b1;
}
.bets_container .bets ul li p.date img {
    width: 7px;
    height: 7px;
    margin-right: 2px;
}
.bets_container .bets ul li p.summ {
    color: #80c800;
}
.bets_container .bets ul li p.bold {
    font-family: 'Roboto Bold';
}
.bets_container .bets ul li p.bold img {
    width: 8px;
    height: 10px;
    margin-right: 2px;
    vertical-align: middle;
}

.bets_statistic {
    padding: 5px 5px 10px;
    background: #2f2f2e;
}
.bets_statistic .title .icon_mdl {
    float: left;
    width: 35px;
    margin-right: 4px;
}
.bets_statistic .title .icon_mdl img {
    width: 22px;
    height: 22px;
}
.bets_statistic .title h1 {
    font-family: 'Roboto Bold';
    font-size: 18px;
    line-height: 35px;
    color: #d4d4d4;
    text-transform: uppercase;
}
.bets_statistic table {
    width: 100%;
    background: #fafafa;
    margin-top: 17px;
}
.bets_statistic table tr td {
    border-right: 1px solid #9e9e9e;
    padding: 12px;
    text-align: center;
}
.bets_statistic table tr td:first-child {
    text-align: left;
}
.bets_statistic table thead tr td {
    background: #515151;
    font-size: 12px;
    color: #d4d4d4;
}
.bets_statistic table tbody tr td {
    font-size: 12px;
    color: #2f2f2e;
    border-bottom: 1px solid #9e9e9e;
}
.bets_statistic table tbody tr.win td {
    background: #b7ee34;
}
.bets_statistic table tbody tr.lose td {
    background: #d2c9e7;
}
.bets_statistic table tbody tr.total td {
    background: #cbedfc;
}

/* My account
------------------------------------------------------------------------------------ */

.my_account_wrap {
    padding: 0 5px;
    margin-top: 10px;
    padding-bottom: 20px;
}
.my_account_wrap table,
.my_security_wrap table,
.history_wrap table {
    width: 100%;
}
table .gray th {
    background: #525252;
}
table .green td {
    background: #BEF11C;
}
table .burgundy td {
    background: #CFC6E7;
}
.my_account_wrap th,
.my_security_wrap th,
.history_wrap th {
    padding-left: 13px;
    font-size: 12px;
    color: #d4d4d4;
    height: 33px;
}
.my_account_wrap th {
    width: 50%;
}
.my_account_wrap th,
.my_security_wrap th,
.history_wrap th {
    border-right: 1px solid #9C9C9C;
}
.my_account_wrap th:last-child,
.my_security_wrap th:last-child,
.history_wrap th:last-child {
    border-right: none;
}
.my_account_wrap td {
    padding-left: 13px;
}
.my_account_wrap td,
.my_security_wrap td,
.history_wrap td {
    height: 33px;
    background: #FAFAFA;
}
.my_account_wrap td,
.my_security_wrap td,
.history_wrap td {
    border-bottom: 1px solid #9C9C9C;
    border-right: 1px solid #9C9C9C;
    color: #2f2f2e;
    font-size: 12px;
}
.my_account_wrap td:first-child,
.my_security_wrap td:first-child,
.history_wrap td:first-child  {
    border-left: #525252;
}
.my_account_wrap td:last-child,
.my_security_wrap td:last-child,
.history_wrap td:last-child {
    border-right: #525252;
}
.my_account_wrap tr:last-child td,
.my_security_wrap tr:last-child td,
.history_wrap tr:last-child td {
    border-bottom: #525252;
}
.my_account_wrap .balance {
    margin-top: 20px;
    margin-bottom: 19px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
}
.my_account_wrap .balance .acc_balance {
    color: #8bda00;
}
.my_account_wrap .btns a,
.history_wrap .btns a {
    width: 49.8%;
}
.my_account_wrap .btns .btn_blue,
.history_wrap .btns .btn_blue {

    float: right;
}
.my_account_wrap .reminder {
    font-size: 9px;
}

/* My security page
------------------------------------------------------------------------------------ */
.my_security_wrap h2 {
    height: 30px;
    font-size: 12px;
    color: #fff;
    font-family: 'Roboto Medium';
    background: #4E4E4E;
    text-transform: uppercase;
    padding-left: 8px;
    line-height: 30px;
}

.my_security_wrap td,
.my_security_wrap th {
    text-align: center;
    font-size: 9px;
    padding-left: 0;
}
.my_security_wrap td a {
    color: #cd3f00;
    font-size: 7px;
}
.security_settings > ul > li {
    background: #323232;
    padding: 5px 10px 6px;
    border-bottom: 1px solid #686868;
    box-shadow: inset 0 -1px #000;
    position: relative;
}
.security_settings > ul > li h3 {
  color: #d4d4d4;
  font-family: 'Roboto Regular';
  font-size: 12px;
  font-weight: normal;
}
.security_settings > ul > li h3 span {
    float: right;
    width: 29%;
    color: #fff;
}
.authorized_devices {
    padding: 8px 5px;
}
.security_settings .change_pass_wrap,
.security_settings .secret_question_wrap {
    display: inline-block;
    padding-bottom: 4px;
    line-height: 12px;
}
.security_settings .change_pass_wrap a,
.security_settings .secret_question_wrap a {
    color: #a0eeff;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px solid;
}
.security_settings .change_pass_wrap {
    margin-right: 20px;
}
.change_popup_wrap {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 5px;
    background: #323232;
    border-top: 1px solid #585858;
    z-index: 20;
}
.change_popup_wrap .form {
    padding: 0;
}
.change_popup_wrap .change_popup .tabs_wrap li {
    padding: 0;
    width: 33.3%;
    height: 30px;
    line-height: 30px;
    color: #d4d4d4;
    font-size: 12px;
    font-family: 'Roboto Medium';
    background: #414141;
    float: left;
    text-align: center;
    border-right: 1px solid #333332;
}
.change_popup_wrap .change_popup .tabs_wrap li:last-child {
    border-right: none;
}
.change_popup_wrap .change_popup .tabs_wrap li.active {
    background: #4E4E4E;
    color: #fff;
}
.change_popup_wrap .change_popup .reminder {
    font-size: 12px;
}
.change_popup_wrap .change_popup .btns .back {
    color: #fff8b9;
    font-size: 15px;
    font-family: 'Roboto Light';
    border-bottom: 1px dotted;
    line-height: 17px;
    margin-left: 10px;
}
.change_popup_wrap .change_popup .btns {
    line-height: 42px;
}
.change_popup_wrap .change_popup .btns .continue {
    width: 164px;
    text-transform: uppercase;
    font-size: 15px;
    float: right;
    color: #fff;
    height: 42px;
    line-height: 42px;
    border-radius: 5px;
    font-family: 'Roboto BoldCondensed';
    background: #4E4E4E;
    border: none;
    text-align: center;
}
.change_popup_wrap .change_popup .btns .save {
    width: 164px;
    font-size: 15px;
    float: right;
    color: #fff;
    height: 42px;
    line-height: 42px;
    border: none;
    margin-top: 0;
}
.change_popup_wrap .message_popup_wrap {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 5px;
}
.change_popup_wrap .message_popup {
    height: 220px;
    background: #323232;
    border: 1px solid #585858;
    position: relative;
}
.change_popup_wrap .message_popup p {
    color: #cccccc;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    margin-top: 80px;
}
.change_popup_wrap .message_popup .close {
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
}
/* History page
------------------------------------------------------------------------------------ */
.history_wrap .marks_wrap {
    margin-top: 7px;
    margin-bottom: 7px;
}
.history_wrap .mark {
    float: left;
}
.history_wrap .mark {
    margin-right: 12px;
    color: #d4d4d4;
    font-size: 9px;
}
.history_wrap .mark span {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    margin-right: 7px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
}
.history_wrap .mark span img {
    vertical-align: middle;
}
.history_wrap .mark_successfully {
    background: #97DC00;
}
.history_wrap .mark_denied {
    background: #CFC6E7;
}
.history_wrap img.bonus_icon {
    margin-top: -1px;
    width: 12px;
    height: 12px;
}
.history_wrap img.denied_icon {
    width: 10px;
    height: 10px;
}
.history_wrap .successfully_icon {
    width: 11px;
    height: 8px;
}
.history_wrap .mark_bonus {
    background: #C1DBF4;
}
.history_wrap th {
    height: 40px;
    text-align: center;
    padding-left: 0;
}
.history_wrap td:last-child {
    width: 9.7%;
    text-align: center;
}
.history_wrap td:nth-child(2) {
    width: 21%;
}
.history_wrap td:nth-child(3) {
    width: 22.6%;
    text-align: center;
    padding-left: 0;
}
.history_wrap td:nth-child(4) {
    width: 27.4%;
}
.history_wrap td {
    height: 40px;
    padding-left: 10px;
}
.history_wrap .btns {
    margin-top: 0;
    margin-bottom: 5px;
}
/* Profile
------------------------------------------------------------------------------------ */
.profile_container {
    background: #2f2f2e;
}
.profile_status {
    padding: 0 5px;
}
.profile_status h5 {
    font-size: 12px;
    font-weight: normal;
    color: #d4d4d4;
}
.profile_status .reminder {
    margin-left: 0;
}
.profile_status .status_bar {
    height: 25px;
    background: url(../img/profile_status_bar.png) no-repeat;
    background-size: 225px 25px;
    margin-top: 12px;
    padding-left: 3px;
    width: 225px;
    position: relative;
}
.profile_status .status_bar img.loader {
    height: 25px;
    float: left;
}
.profile_status .status_bar p {
    font-size: 12px;
    color: #d4d4d4;
    position: absolute;
    left: 100%;
    margin-left: 5px;
    line-height: 25px;
}

.profile_accordion {
    border-top: 1px solid #2f2f2e;
    margin-top: 7px;
}
.profile_accordion h2,
.profile_accordion .hidden_list li,
.profile_accordion .open_list li {
    border-bottom: 1px solid #2f2f2e;
    color: #d4d4d4;
    position: relative;
}
.profile_accordion h2 {
    background: #4d4d4d;
    color: #fff;
}
.profile_accordion h2.open_list_h2 {
    line-height: 25px;
    padding-left: 10px;
}
.profile_accordion .hidden_list li,
.profile_accordion .open_list li {
    border-left: none;
    border-right: none;
    background: #3d3d3c;
    border-bottom: 1px solid #383837;
    padding-left: 0px;
    padding-top: 3px;
    padding-bottom: 2px;
    line-height: 20px;
}
.profile_accordion .hidden_list li p,
.profile_accordion .open_list li p {
    font-size: 12px;
    color: #d4d4d4;
}
.profile_accordion .hidden_list li a,
.profile_accordion .open_list li a {
    color: #fff8b9;
    font-size: 12px;
}
.profile_accordion .hidden_list li a.light,
.profile_accordion .open_list li a.light {
    color: #a0eeff;
}
.profile_accordion .hidden_list li .left,
.profile_accordion .hidden_list li .right,
.profile_accordion .open_list li .left,
.profile_accordion .open_list li .right {
    width: 50%;
    padding-left: 10px;
}
.profile_accordion .hidden_list li .left,
.profile_accordion .open_list li .left {
    float: left;
}
.profile_accordion .hidden_list li .right,
.profile_accordion .open_list li .right {
    float: right;
}
.profile_accordion .hidden_list li .right p {
    color: #fff;
}
.profile_accordion .hidden_list li.avatar {
    background: #2f2f2e;
    border: none;
}
.profile_accordion .hidden_list li.avatar .image {
    background: #4d4d4d;
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.profile_accordion .hidden_list li.avatar .image img {
    width: 56px;
    height: 72px;
    margin: 0;
}
.profile_accordion .hidden_list li.avatar a {
    margin-left: 11px;
}
.profile_accordion .hidden_list li.avatar a img {
    width: 19px;
    height: 19px;
    margin-right: 8px;
}

.profile_accordion li.requirements h2 {
    background: #348aee;
}
.profile_accordion li.requirements h2:before {
    background: url(../img/arrows/arrow_light_down.svg) no-repeat;
    background-size: 15px 14px;
}
.profile_accordion li.requirements ul.hidden_list li {
    background: #2f2f2e;
    border: none;
    padding-left: 4px;
    padding-right: 4px;
}
.profile_accordion li.requirements ul.hidden_list li .section {
    margin-bottom: 13px;
}
.profile_accordion li.requirements ul.hidden_list li p {
    font-size: 9px;
    color: #d4d4d4;
    line-height: 10px;
}
.profile_accordion li.requirements ul.hidden_list li p span {
    color: #fff;
}
.profile_accordion li.requirements ul.hidden_list li p a.light {
    font-size: 9px;
}
.no_m_list {
    margin-top: 0;
    border-top: none;
}


/* Footer
------------------------------------------------------------------------------------ */
footer ul {
    list-style: none;
    border-top: 1px solid white;
}
footer ul li {
    height: 22px;
    background: #e8e8e8;
    border-bottom: 1px solid white;
    padding-left: 14px;
    cursor: pointer;
}
footer ul li:last-child {
    border-bottom: none;
}
footer ul li img {
    float: left;
    margin: 5px 5px 0 0;
    width: 6px;
    height: 11px;
}
footer ul li p {
    line-height: 22px;
    font-size: 9px;
    color: #2f2f2e;
}
footer .footer_home {
    height: 59px;
    background: #2f2f2e;
    box-shadow: inset 0 1px 0 #686868,
                inset 0 -1px 0 #686868;
    position: relative;
}
footer .footer_home .languages {
    float: right;
    margin-right: 12px;
}
footer .footer_home .languages .click_block {
    height: 59px;
    text-decoration: none;
}
footer .footer_home .languages .hidden_flags {
    top: 59px;
}
footer .footer_home button {
    margin-top: 15px;
    margin-left: 12px;
    padding: 0 20px;
    background: #767676;
    height: 28px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}
footer .footer_bottom {
    background: #f1f1f1;
    padding: 11px 12px;
    min-height: 60px;
}
footer .footer_bottom p {
    font-size: 7px;
    color: #2f2f2e;
}
footer .footer_bottom p.address {
    margin-bottom: 10px;
}
footer .footer_bottom p a {
    color: #cd3f00;
}
